@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
#franja-superior{
    background-color: #222222;
    color: #F3F3F3;
    
}